[Desktop Entry]
Exec=kcmshell5 oxygendecorationconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=org.kde.kdecoration2/oxygendecoration
X-KDE-PluginKeyword=kcmodule
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Window  Decoration
Name[ast]=Decoración de ventanes
Name[ca]=Decoració de les finestres
Name[ca@valencia]=Decoració de les finestres
Name[cs]=Dekorace oken
Name[da]=Vinduesdekoration
Name[de]=Fensterdekoration
Name[el]=Διακοσμήσεις παραθύρου
Name[en_GB]=Window  Decoration
Name[es]=Decoración de las ventanas
Name[et]=Akna dekoratsioon
Name[fi]=Ikkunan kehys
Name[gl]=Decoración da xanela
Name[it]=Decorazione delle finestre
Name[ko]=창 장식
Name[lt]=Lango dekoracija
Name[nl]=Vensterdecoratie
Name[nn]=Vindaugspynt
Name[pl]=Wystrój okien
Name[pt]=Decoração de Janelas
Name[pt_BR]=Decorações da janela
Name[ru]=Оформление окон Oxygen
Name[sk]=Dekorácie okien
Name[sl]=Okraski oken
Name[sr]=Декорација прозора
Name[sr@ijekavian]=Декорација прозора
Name[sr@ijekavianlatin]=Dekoracija prozora
Name[sr@latin]=Dekoracija prozora
Name[sv]=Fönsterdekoration
Name[tr]=Pencere Dekorasyonları
Name[uk]=Декорації вікон
Name[x-test]=xxWindow  Decorationxx
Name[zh_CN]=窗口装饰
Name[zh_TW]=視窗裝飾
Comment=Modify the appearance of window decorations
Comment[ca]=Modifica l'aparença de les decoracions de les finestres
Comment[ca@valencia]=Modifica l'aparença de les decoracions de les finestres
Comment[cs]=Změnit vzhled dekorace oken
Comment[da]=Ændr vinduesdekorationers udseende
Comment[de]=Das Erscheinungsbild der Fensterdekorationen ändern
Comment[el]=Τροποποίηση εμφάνισης της διακόσμησης παραθύρου
Comment[en_GB]=Modify the appearance of window decorations
Comment[es]=Modificar el aspecto de las decoraciones de las ventanas
Comment[et]=Akna dekoratsioonide välimuse muutmine
Comment[fi]=Muuta ikkunoiden kehysten ulkoasua
Comment[gl]=Modifica a aparencia da decoración da xanela
Comment[it]=Modifica l'aspetto delle decorazioni delle finestre
Comment[ko]=창 장식의 모습을 수정합니다
Comment[lt]=Keisti lango dekoracijų išvaizdą
Comment[nl]=Wijzig het uiterlijk van vensterdecoraties
Comment[nn]=Endra utsjånad på vindaugspynt
Comment[pl]=Zmień wygląd i wystrój okien
Comment[pt]=Modificar a aparência das decorações das janelas
Comment[pt_BR]=Modifica a aparência das decorações da janela
Comment[ru]=Настройка заголовков окон в стиле Oxygen
Comment[sk]=Zmeniť vzhľad dekorácie okien
Comment[sl]=Spremenite videz okraskov oken
Comment[sr]=Измените изглед декорације прозора
Comment[sr@ijekavian]=Измијените изглед декорације прозора
Comment[sr@ijekavianlatin]=Izmijenite izgled dekoracije prozora
Comment[sr@latin]=Izmenite izgled dekoracije prozora
Comment[sv]=Ändra fönsterdekorationers utseende
Comment[tr]=Pencere dekorasyonlarının görünümünü düzenle
Comment[uk]=Зміна вигляду декорацій вікон
Comment[x-test]=xxModify the appearance of window decorationsxx
Comment[zh_CN]=修改窗口装饰外观
Comment[zh_TW]=變更視窗裝飾的外觀
X-KDE-Keywords=oxygen,decoration
X-KDE-Keywords[ca]=oxygen,decoració
X-KDE-Keywords[ca@valencia]=oxygen,decoració
X-KDE-Keywords[cs]=oxygen,dekorace
X-KDE-Keywords[da]=oxygen,dekoration
X-KDE-Keywords[de]=oxygen,decoration,Dekoration
X-KDE-Keywords[en_GB]=oxygen,decoration
X-KDE-Keywords[es]=oxígeno,decoración
X-KDE-Keywords[et]=oxygen,dekoratsioon
X-KDE-Keywords[fi]=oxygen,decoration,kehys,koriste,koristus,ikkunakehys
X-KDE-Keywords[gl]=oxygen,decoración
X-KDE-Keywords[it]=oxygen,decorazione
X-KDE-Keywords[ko]=oxygen,decoration,장식
X-KDE-Keywords[lt]=oxygen,dekoracija
X-KDE-Keywords[nl]=oxygen,decoratie
X-KDE-Keywords[nn]=oxygen,dekorasjon,pynt
X-KDE-Keywords[pl]=tlen,wystrój
X-KDE-Keywords[pt]=oxygen,decoração
X-KDE-Keywords[pt_BR]=oxygen,decoração
X-KDE-Keywords[ru]=oxygen,оксиджен,decoration,декорации окон,оформление окон
X-KDE-Keywords[sk]=oxygen,dekorácia
X-KDE-Keywords[sl]=kisik,okraski
X-KDE-Keywords[sr]=oxygen,decoration,Кисеоник,декорација
X-KDE-Keywords[sr@ijekavian]=oxygen,decoration,Кисеоник,декорација
X-KDE-Keywords[sr@ijekavianlatin]=oxygen,decoration,Kiseonik,dekoracija
X-KDE-Keywords[sr@latin]=oxygen,decoration,Kiseonik,dekoracija
X-KDE-Keywords[sv]=oxygen,dekoration
X-KDE-Keywords[tr]=oxygen,dekorasyon
X-KDE-Keywords[uk]=oxygen,decoration,декорація,обрамлення
X-KDE-Keywords[x-test]=xxoxygenxx,xxdecorationxx
X-KDE-Keywords[zh_CN]=oxygen,decoration,装饰
X-KDE-Keywords[zh_TW]=oxygen,decoration
