[Desktop Entry]
Exec=kcmshell5 oxygendecorationconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=org.kde.kdecoration2/oxygendecoration
X-KDE-PluginKeyword=kcmodule
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Oxygen Window Decoration
Name[ca]=Decoració de les finestres Oxygen
Name[ca@valencia]=Decoració de les finestres Oxygen
Name[cs]=Dekorace oken Oxygen
Name[el]=Διακοσμήσεις παραθύρου Oxygen
Name[es]=Decoración de ventanas Oxígeno
Name[eu]=Oxygen leihoen apaindura
Name[fr]=Décoration de fenêtre Oxygène
Name[it]=Decorazione delle finestre di Oxygen
Name[nl]=Oxygen vensterdecoratie
Name[pl]=Wygląd okien Tlenu
Name[pt]=Decoração de Janelas Oxygen
Name[pt_BR]=Decorações da janela Oxygen
Name[ru]=Оформление окон Oxygen
Name[sk]=Dekorácie okien Oxygen
Name[sr]= Кисеоникова декорација прозора
Name[sr@ijekavian]= Кисеоникова декорација прозора
Name[sr@ijekavianlatin]= Kiseonikova dekoracija prozora
Name[sr@latin]= Kiseonikova dekoracija prozora
Name[sv]=Oxygen fönsterdekoration
Name[tr]=Oxygen Pencere Dekorasyonu
Name[uk]=Декорації вікон Oxygen
Name[x-test]=xxOxygen Window Decorationxx
Name[zh_CN]=氧气窗口装饰
Name[zh_TW]=Oxygen 視窗裝飾
Comment=Modify the appearance of window decorations
Comment[ca]=Modifica l'aparença de les decoracions de les finestres
Comment[ca@valencia]=Modifica l'aparença de les decoracions de les finestres
Comment[cs]=Změnit vzhled dekorace oken
Comment[da]=Ændr vinduesdekorationers udseende
Comment[de]=Das Erscheinungsbild der Fensterdekorationen ändern
Comment[el]=Τροποποίηση εμφάνισης της διακόσμησης παραθύρου
Comment[en_GB]=Modify the appearance of window decorations
Comment[es]=Modificar el aspecto de las decoraciones de las ventanas
Comment[et]=Akna dekoratsioonide välimuse muutmine
Comment[eu]=Aldatu leiho apainduren itxura
Comment[fi]=Muuta ikkunoiden kehysten ulkoasua
Comment[fr]=Modifie l'apparence des décorations de fenêtre
Comment[gl]=Modifica a aparencia da decoración da xanela
Comment[hu]=Az ablakdekorációk megjelenésének módosítása
Comment[ia]=Modifica le apparentia de decorationes de fenestra
Comment[it]=Modifica l'aspetto delle decorazioni delle finestre
Comment[ko]=창 장식의 모습을 수정합니다
Comment[lt]=Keisti lango dekoracijų išvaizdą
Comment[nl]=Wijzig het uiterlijk van vensterdecoraties
Comment[nn]=Endra utsjånad på vindaugspynt
Comment[pl]=Zmień wygląd okien
Comment[pt]=Modificar a aparência das decorações das janelas
Comment[pt_BR]=Modifica a aparência das decorações da janela
Comment[ru]=Настройка заголовков окон в стиле Oxygen
Comment[sk]=Zmeniť vzhľad dekorácie okien
Comment[sl]=Spremenite videz okraskov oken
Comment[sr]=Измените изглед декорације прозора
Comment[sr@ijekavian]=Измијените изглед декорације прозора
Comment[sr@ijekavianlatin]=Izmijenite izgled dekoracije prozora
Comment[sr@latin]=Izmenite izgled dekoracije prozora
Comment[sv]=Ändra fönsterdekorationers utseende
Comment[tr]=Pencere dekorasyonlarının görünümünü düzenle
Comment[uk]=Зміна вигляду декорацій вікон
Comment[x-test]=xxModify the appearance of window decorationsxx
Comment[zh_CN]=修改窗口装饰外观
Comment[zh_TW]=變更視窗裝飾的外觀
X-KDE-Keywords=oxygen,decoration
X-KDE-Keywords[ca]=oxygen,decoració
X-KDE-Keywords[ca@valencia]=oxygen,decoració
X-KDE-Keywords[cs]=oxygen,dekorace
X-KDE-Keywords[da]=oxygen,dekoration
X-KDE-Keywords[de]=oxygen,decoration,Dekoration
X-KDE-Keywords[el]=oxygen,διακόσμηση
X-KDE-Keywords[en_GB]=oxygen,decoration
X-KDE-Keywords[es]=oxígeno,decoración
X-KDE-Keywords[et]=oxygen,dekoratsioon
X-KDE-Keywords[eu]=oxygen,apaindura
X-KDE-Keywords[fi]=oxygen,decoration,kehys,koriste,koristus,ikkunakehys
X-KDE-Keywords[fr]=oxygène,décoration
X-KDE-Keywords[gl]=oxygen,decoración
X-KDE-Keywords[hu]=oxygen,dekoráció
X-KDE-Keywords[ia]=oxygen,decoration
X-KDE-Keywords[it]=oxygen,decorazione
X-KDE-Keywords[ko]=oxygen,decoration,장식
X-KDE-Keywords[lt]=oxygen,dekoracija
X-KDE-Keywords[nl]=oxygen,decoratie
X-KDE-Keywords[nn]=oxygen,dekorasjon,pynt
X-KDE-Keywords[pa]=ਆਕਸੀਜਨ,ਸਜਾਵਟ
X-KDE-Keywords[pl]=tlen,wystrój
X-KDE-Keywords[pt]=oxygen,decoração
X-KDE-Keywords[pt_BR]=oxygen,decoração
X-KDE-Keywords[ru]=oxygen,оксиджен,decoration,декорации окон,оформление окон
X-KDE-Keywords[sk]=oxygen,dekorácia
X-KDE-Keywords[sl]=kisik,okraski
X-KDE-Keywords[sr]=oxygen,decoration,Кисеоник,декорација
X-KDE-Keywords[sr@ijekavian]=oxygen,decoration,Кисеоник,декорација
X-KDE-Keywords[sr@ijekavianlatin]=oxygen,decoration,Kiseonik,dekoracija
X-KDE-Keywords[sr@latin]=oxygen,decoration,Kiseonik,dekoracija
X-KDE-Keywords[sv]=oxygen,dekoration
X-KDE-Keywords[tr]=oxygen,dekorasyon
X-KDE-Keywords[uk]=oxygen,decoration,декорація,обрамлення
X-KDE-Keywords[x-test]=xxoxygenxx,xxdecorationxx
X-KDE-Keywords[zh_CN]=oxygen,decoration,装饰
X-KDE-Keywords[zh_TW]=oxygen,decoration
