[Desktop Entry]
Exec=kcmshell5 oxygenstyleconfig
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kstyle_oxygen_config
X-KDE-PluginKeyword=kcmodule
X-KDE-ParentApp=kcontrol
X-KDE-Weight=50

Name=Widget Style
Name[nl]=Widget-stijl
Name[pl]=Styl elementów interfejsu
Name[pt]=Estilo Gráfico
Name[pt_BR]=Estilo dos widgets
Name[sk]=Štýl prvku
Name[sv]=Stil för grafiska komponenter
Name[uk]=Стиль віджетів
Name[x-test]=xxWidget Stylexx
Name[zh_CN]=部件样式
Comment=Modify the appearance of widgets
Comment[nl]=Wijzig het uiterlijk van widgets
Comment[pl]=Zmień wygląd elementów interfejsu
Comment[pt]=Modificar a aparência dos elementos gráficos
Comment[pt_BR]=Modifica a aparência dos widgets
Comment[sk]=Zmena vzhľadu prvkov
Comment[sv]=Ändra utseende hos grafiska komponenter
Comment[uk]=Зміна вигляду віджетів
Comment[x-test]=xxModify the appearance of widgetsxx
Comment[zh_CN]=修改部件外观

X-KDE-Keywords=oxygen,widget,style
X-KDE-Keywords[nl]=oxygen,widget,stijl
X-KDE-Keywords[pl]=oxygen,widget,styl,tlen,element interfejsu
X-KDE-Keywords[pt]=oxygen,elemento,estilo
X-KDE-Keywords[pt_BR]=oxygen,widget,estilo
X-KDE-Keywords[sk]=oxygen,widget,štýl
X-KDE-Keywords[sv]=oxygen,grafisk komponent,stil
X-KDE-Keywords[uk]=oxygen,widget,style,оксиген,кисень,віджет,стиль
X-KDE-Keywords[x-test]=xxoxygenxx,xxwidgetxx,xxstylexx
X-KDE-Keywords[zh_CN]=oxygen,widget,style,部件,样式
